<section id="about" class="about">
  <div class="container">
    <div class="about-content">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle">Our сraftsmanship: сreating unique handmade furniture</h3>
      <p class="about-text">
        Discover the inspiration behind our modern and minimalist designs, and see how we bring them
        to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-item">
          <p class="about-number about-text">5+</p>
          <p class="about-text">Years of experience creating handcrafted furniture</p>
        </li>
        <li class="about-item">
          <p class="about-number about-text">100%</p>
          <p class="about-text">Sustainably sourced materials used in all of our furniture</p>
        </li>
        <li class="about-item">
          <p class="about-number about-text">500+</p>
          <p class="about-text">Unique furniture designs crafted by our skilled artisans</p>
        </li>
      </ul>
    </div>
    <picture class="about-fullbleed">
      <source
        media="(min-width: 1440px)"
        srcset="img/about/desk@1x.webp 1x, img/about/desk@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="img/about/tab@1x.webp 1x, img/about/tab@2x.webp 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="img/about/mob@1x.webp 1x, img/about/mob@2x.webp 2x"
      />
      <img
        class="about-image"
        src="img/about/mob@1x.webp"
        alt="Sofa and plant"
        width="375"
        height="400"
        loading="lazy"
      />
    </picture>
  </div>
</section>
