<section id="bestsellers" class="bestsellers">
  <div class="container">
    <h2 class="section-title">Bestsellers</h2>
    <div class="bestsellers-wrapper">
      <div class="bestsellers-first-image-wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/bestsellers/desk-first@1x.webp 1x,
              img/bestsellers/desk-first@2x.webp 2x
            "
            width="536"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/bestsellers/tab-first@1x.webp 1x,
              img/bestsellers/tab-first@2x.webp 2x
            "
            width="704"
            height="489"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/bestsellers/mob-first@1x.webp 1x,
              img/bestsellers/mob-first@2x.webp 2x
            "
          />
          <img
            class="bestsellers-first-image"
            src="img/bestsellers/mob-first@1x.webp"
            alt="Bed"
            width="343"
            height="193"
            loading="lazy"
          />
        </picture>
        <p class="bestsellers-text">The modern platform bed</p>
        <p class="bestsellers-price">750$</p>
      </div>
      <ul class="bestsellers-list">
        <li class="bestsellers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/bestsellers/desk-second@1x.webp 1x,
                img/bestsellers/desk-second@1x.webp 2x
              "
              width="258"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/bestsellers/tab-second@1x.webp 1x,
                img/bestsellers/tab-second@2x.webp 2x
              "
              width="336"
              height="193"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/bestsellers/mob-second@1x.webp 1x,
                img/bestsellers/mob-second@2x.webp 2x
              "
            />
            <img
              class="bestsellers-image"
              src="img/bestsellers/mob-second@1x.webp"
              alt="Chairs and tables"
              width="343"
              height="193"
              loading="lazy"
            />
          </picture>
          <p class="bestsellers-text">The Cozy Lounge Chair</p>
          <p class="bestsellers-price">230$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/bestsellers/desk-third@1x.webp 1x,
                img/bestsellers/desk-third@2x.webp 2x
              "
              width="258"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/bestsellers/tab-third@1x.webp 1x,
                img/bestsellers/tab-third@2x.webp 2x
              "
              width="336"
              height="193"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/bestsellers/mob-third@1x.webp 1x,
                img/bestsellers/mob-third@2x.webp 2x
              "
            />
            <img
              class="bestsellers-image"
              src="img/bestsellers/mob-third@1x.webp"
              alt="Table and chair"
              width="343"
              height="193"
              loading="lazy"
            />
          </picture>
          <p class="bestsellers-text">The industrial accent chair</p>
          <p class="bestsellers-price">250$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/bestsellers/desk-fourth@1x.webp 1x,
                img/bestsellers/desk-fourth@2x.webp 2x
              "
              width="258"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/bestsellers/tab-fourth@1x.webp 1x,
                img/bestsellers/tab-fourth@2x.webp 2x
              "
            />
            <img
              class="bestsellers-image"
              src="img/bestsellers/tab-fourth@1x.webp"
              alt="Cabinet and lamp"
              width="336"
              height="193"
              loading="lazy"
            />
          </picture>
          <p class="bestsellers-text">The sleek stand</p>
          <p class="bestsellers-price">300$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/bestsellers/desk-fifth@1x.webp 1x,
                img/bestsellers/desk-fifth@2x.webp 2x
              "
              width="258"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/bestsellers/tab-fifth@1x.webp 1x,
                img/bestsellers/tab-fifth@2x.webp 2x
              "
            />
            <img
              class="bestsellers-image"
              src="img/bestsellers/tab-fifth@1x.webp"
              alt="Sofa"
              width="336"
              height="193"
              loading="lazy"
            />
          </picture>
          <p class="bestsellers-text">The minimalist sofa</p>
          <p class="bestsellers-price">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
