<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-logo-link" href="">
        <svg class="header-logo-icon" width="100" height="16">
          <use href="img/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item"><a href="#about">About us</a></li>
          <li class="header-item"><a href="#products">Our products</a></li>
          <li class="header-item"><a href="#price">Prices</a></li>
          <li class="header-item"><a href="#bestsellers">Bestsellers</a></li>
          <li class="header-item"><a href="#reviews">Reviews</a></li>
          <li class="header-item"><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
      <button type="button" class="js-open-menu header-menu-button">
        <svg class="header-open-menu-icon" width="32" height="32">
          <use href="img/sprite.svg#menu"></use>
        </svg>
      </button>
      <button type="button" class="js-close-menu header-menu-button hide">
        <svg class="header-close-menu-icon" width="32" height="32">
          <use href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
