<section class="hero">
  <div class="container">
    <div class="picture-wrapper">
      <picture>
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="img/hero/left-tab@1x.webp 1x, img/hero/left-tab@2x.webp 2x"
        />
        <img
          class="hero-tablet-background-left"
          src="img/hero/left-tab@1x.webp"
          alt="Chair"
          width="309"
          height="329"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="img/hero/right-tab@1x.webp 1x, img/hero/right-tab@2x.webp 2x"
        />
        <img
          class="hero-tablet-background-right"
          src="img/hero/right-tab@1x.webp"
          alt="Sofa"
          width="364"
          height="531"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/hero/left-desk@1x.webp 1x, img/hero/left-desk@2x.webp 2x"
        />
        <img
          class="hero-desk-background-left"
          src="img/hero/left-desk@1x.webp"
          alt="Chair"
          width="310"
          height="329"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/hero/center-desk@1x.webp 1x, img/hero/center-desk@2x.webp 2x"
        />
        <img
          class="hero-desk-background-center"
          src="img/hero/center-desk@1x.webp"
          alt="Sofa"
          width="648"
          height="530"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/hero/right-desk@1x.webp 1x, img/hero/right-desk@2x.webp 2x"
        />
        <img
          class="hero-desk-background-right"
          src="img/hero/right-desk@1x.webp"
          alt="Cabinet"
          width="312"
          height="337"
          loading="lazy"
        />
      </picture>
    </div>
    <h1 class="hero-title">Modern and minimalist furniture for you</h1>
    <div class="hero-text-and-link">
      <p class="hero-text">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <div class="hero-link-wrapper">
        <a class="hero-link" href="#newsletter">Subscribe</a>
      </div>
    </div>
  </div>
</section>
