<div class="mobile-menu-backdrop js-modal">
  <div class="mobile-menu">
    <nav class="modal-nav">
      <ul class="modal-list">
        <li class="modal-item"><a class="modal-link" href="#about">About us</a></li>
        <li class="modal-item"><a class="modal-link" href="#products">Our products</a></li>
        <li class="modal-item"><a class="modal-link" href="#price">Prices</a></li>
        <li class="modal-item"><a class="modal-link" href="#bestsellers">Bestsellers</a></li>
        <li class="modal-item"><a class="modal-link" href="#reviews">Reviews</a></li>
        <li class="modal-item"><a class="modal-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </div>
</div>
