<section id="newsletter" class="newsletter hide">
  <div class="container">
    <h2 class="section-title">Newsletter</h2>
    <p class="newsletter-text">
      Every week we will send you new designs and information about sales.
    </p>
    <form>
      <input class="newsletter-input" type="text" name="name" placeholder="Name" />
      <input class="newsletter-input" type="email" name="email" placeholder="E-mail" />
      <div class="newsletter-checkbox-label">
        <input class="visually-hidden" value="true" type="checkbox" name="user-privacy" required />
        <span class="newsletter-checkbox">
          <svg class="newsletter-checkbox-icon" width="13" height="13">
            <use href="img/sprite.svg#check"></use>
          </svg>
        </span>
        <span class="checkbox-text-wrapper"> Agree to subscribe to the newsletter </span>
      </div>
      <button type="submit">Send</button>
    </form>
    <img class="newsletter-image" src="" alt="" />
  </div>
</section>
