<section id="newsletter" class="newsletter">
  <div class="container">
    <div class="newsletter-wrapper">
      <h2 class="section-title">Newsletter</h2>
      <p class="newsletter-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="newsletter-form">
        <input class="newsletter-input" type="text" name="name" placeholder="Name" />
        <input class="newsletter-input" type="email" name="email" placeholder="E-mail" />
        <div class="general-checkbox-label">
          <input
            class="visually-hidden"
            value="true"
            type="checkbox"
            name="user-privacy"
            id="user-privacy"
            required
          />
          <label class="newsletter-checkbox-label" for="user-privacy">
            <span class="newsletter-checkbox">
              <svg class="newsletter-checkbox-icon" width="13" height="13">
                <use href="img/sprite.svg#check"></use>
              </svg>
            </span>
            <span class="checkbox-text-wrapper">Agree to subscribe to the newsletter</span>
          </label>
        </div>
        <button class="newsletter-button" type="submit">Send</button>
      </form>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="img/newsletter/desk@1x.webp 1x, img/newsletter/desk@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="img/newsletter/tab@1x.webp 1x, img/newsletter/tab@2x.webp 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="img/newsletter/mob@1x.webp 1x, img/newsletter/mob@2x.webp 2x"
      />
      <img
        class="newsletter-image"
        src="img/newsletter/mob@1x.webp"
        alt="Table, book and sofa"
        width="343"
        height="300"
        loading="lazy"
      />
    </picture>
  </div>
</section>
