<section id="products" class="products">
  <div class="container">
    <h2 class="section-title">Our products</h2>
    <ul class="products-list">
      <li class="products-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="img/products/desk-first@1x.webp 1x, img/products/desk-first@2x.webp 2x"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="img/products/tab-first@1x.webp 1x, img/products/tab-first@2x.webp 2x"
            width="344"
          />
          <source
            media="(max-width: 767px)"
            srcset="img/products/mob@1x.webp 1x, img/products/mob@2x.webp 2x"
          />
          <img
            class="products-image"
            src="img/products/mob@1x.webp"
            alt="Cabinet and plant"
            width="343"
            height="300"
            loading="lazy"
          />
        </picture>
        <p class="products-text">Minimalist storage solutions</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="img/products/desk-second@1x.webp 1x, img/products/desk-second@2x.webp 2x"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="img/products/tab-second@1x.webp 1x, img/products/tab-second@2x.webp 2x"
          />
          <img
            class="products-image"
            src="img/products/tab-second@1x.webp"
            alt="Sofa"
            width="344"
            height="300"
            loading="lazy"
          />
        </picture>
        <p class="products-text">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="img/products/desk-third@1x.webp 1x, img/products/desk-third@2x.webp 2x"
          />
          <img
            class="products-image"
            src="img/products/desk-third@1x.webp"
            alt="Table and two chairs"
            width="312"
            height="300"
            loading="lazy"
          />
        </picture>
        <p class="products-text">Sleek and simple tables</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/products/desk-fourth@1x.webp 1x, img/products/desk-fourth@2x.webp 2x"
          />
          <img
            class="products-image"
            src="img/products/desk-fourth@1x.webp"
            alt="Chair"
            width="312"
            height="300"
            loading="lazy"
          />
        </picture>
        <p class="products-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
