<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="section-title">Clients reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-wrapper">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="img/reviews/first@1x.webp 1x, img/reviews/first@2x.webp 2x"
              width="56"
              height="56"
            />
            <img
              class="reviews-image"
              src="img/reviews/first@1x.webp"
              alt="Alexandra Dream"
              width="48"
              height="48"
              loading="lazy"
            />
          </picture>
          <div class="reviews-text-wrapper">
            <p class="reviews-name">Alexandra Dream</p>
            <p class="reviews-date">1 week ago</p>
          </div>
        </div>
        <p class="reviews-comment">
          I was blown away by the quality and craftsmanship of the furniture I received from this
          company. Each piece was unique and beautifully designed, and you can tell that a lot of
          thought and care goes into every detail.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-wrapper">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="img/reviews/second@1x.webp 1x, img/reviews/second@2x.webp 2x"
              width="56"
              height="56"
            />
            <img
              class="reviews-image"
              src="img/reviews/second@1x.webp"
              alt="James Williams"
              width="48"
              height="48"
              loading="lazy"
            />
          </picture>
          <div class="reviews-text-wrapper">
            <p class="reviews-name">James Williams</p>
            <p class="reviews-date">A week ago</p>
          </div>
        </div>
        <p class="reviews-comment">
          The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist
          design, enhancing the feel and look of my living space. The sturdy construction is worth
          noting too, which speaks volumes about its durability.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-wrapper">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="img/reviews/third@1x.webp 1x, img/reviews/third@2x.webp 2x"
              width="56"
              height="56"
            />
            <img
              class="reviews-image"
              src="img/reviews/third@1x.webp"
              alt="Emily Watson"
              width="48"
              height="48"
              loading="lazy"
            />
          </picture>
          <div class="reviews-text-wrapper">
            <p class="reviews-name">Emily Watson</p>
            <p class="reviews-date">3 week ago</p>
          </div>
        </div>
        <p class="reviews-comment">
          The "Minimal" furniture set has far exceeded my expectations. The sleek design combined
          with the high-quality materials have not only added an exceptional aesthetic to my space
          but also offered an uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
