.about {
  background-color: #f7faff;
  padding-top: 64px;
  padding-bottom: 0;
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 64px;
}

.about-title {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}

.about-title::before {
  content: '';
  position: absolute;
  left: -50px;
  bottom: 50%;
  width: 30px;
  height: 1px;
  background-color: #0a224a;
}

.about-subtitle {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-list .about-text {
  text-align: center;
}

.about-item {
  align-self: center;
  max-width: 170px;
}

.about-number {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about .container .about-fullbleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

@media only screen and (min-width: 768px) {
  .about {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-content {
    background-color: #f7faff;
    padding: 36px 64px;
    margin-bottom: 30px;
  }

  .about-subtitle {
    font-size: 32px;
  }

  .about-text {
    font-size: 18px;
  }

  .about-list {
    flex-direction: row;
    gap: 33px;
  }

  .about-number {
    font-size: 50px;
  }

  .about .container .about-fullbleed {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .about-image {
    min-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .about .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .about-content {
    margin-bottom: 0;
    min-width: 760px;
  }

  .about-list {
    gap: 56px;
  }
}
