.footer {
  background-color: #0a224a;
  color: #ffffff;
  padding-top: 42px;
  padding-bottom: 16px;
}

.footer-wrapper {
  position: relative;
}

.footer-logo-icon {
  margin-bottom: 42px;
  fill: #ffffff;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}

.footer-item {
  font-style: normal;
}

.category-item {
  transition: transform 300ms ease;
}

.category-item:hover,
.category-item:focus {
  transform: scale(1.05);
}

.contact-list {
  margin-bottom: 64px;
}

.contact-item {
  transition: transform 300ms ease;
}

.contact-item:hover,
.contact-item:focus {
  transform: scale(1.05);
}

.contact-item:last-child {
  display: none;
}

.footer-icon-list {
  position: absolute;
  top: -6px;
  right: 0;
  display: flex;
  gap: 16px;
  fill: #ffffff;
}

.footer-icon {
  transition: transform 300ms ease;
}

.footer-icon:hover,
.footer-icon:focus {
  transform: scale(1.3);
}

.footer-privacy {
  opacity: 0.6;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1.188px;
}
.footer-privacy-link {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer-logo-icon {
    margin-bottom: 32px;
    width: 127px;
    height: auto;
  }

  .footer-list {
    font-size: 19px;
    margin-bottom: 64px;
  }

  .category-list {
    position: absolute;
    top: -8px;
    left: 376px;
    padding: 8px;
    font-size: 18px;
    gap: 16px;
  }

  .contact-item:last-child {
    display: initial;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-privacy {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-logo-ico {
    margin-bottom: 39px;
  }

  .footer-list {
    gap: 24px;
    margin-bottom: 35px;
  }

  .category-list {
    flex-direction: row;
    left: 326px;
    gap: 30px;
  }

  .address-and-contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 87px;
  }

  .contact-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .contact-item:last-child {
    position: absolute;
    left: 224px;
  }

  .footer-icon-list {
    gap: 30px;
  }
}
