.header {
  background-color: #f7faff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.header-logo-icon {
  stroke: #0a224a;
  fill: #0a224a;
}

.header-nav {
  display: none;
}

.header-item {
  font-size: 18px;
}

.header-open-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-open-menu-icon {
  stroke: #0a224a;
  fill: #0a224a;
}

.header-close-menu-link {
  display: none;
}

.header-close-menu-icon {
  stroke: #0a224a;
  fill: #0a224a;
}

.is-active {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header-logo-link {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header-logo-icon {
    width: 127px;
  }

  .header-open-menu-icon {
    width: 40px;
    height: 40px;
  }

  .header-close-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav {
    display: block;
  }

  .header-list {
    display: flex;
    gap: 30px;
    padding: 8px;
  }

  .header-open-menu-link {
    display: none;
  }

  .header-close-menu-link {
    display: none;
  }
}
