.hero {
  padding-top: 0;
  max-height: 723px;
  background-image: url('../img/hero/mob@1x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 140px;
  margin-bottom: 14px;
  max-width: 285px;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 28px;
  max-width: 312px;
}

.hero-text-and-link {
  display: block;
}

.hero-link-wrapper {
  padding-bottom: 313px;
}

.hero-link {
  display: inline-block;
  padding: 12px 65px;
  color: #ffffff;
  background-color: #0a224a;
  transition: background-color 300ms ease;
}

.hero-link:hover,
.hero-link:focus {
  background-color: #061835;
}

.picture-wrapper {
  display: none;
}

.hero-tablet-background-left,
.hero-tablet-background-right,
.hero-desk-background-left,
.hero-desk-background-center,
.hero-desk-background-right {
  display: none;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/hero/mob@2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 50px;
    max-height: none;
    background-image: none;
  }

  .hero-title {
    font-size: 50px;
    max-width: 648px;
    padding-top: 0;
    margin-bottom: 410px;
  }

  .hero-text {
    margin-bottom: 30px;
  }

  .hero-link-wrapper {
    padding-bottom: 0;
  }

  .hero-link {
    font-size: 18px;
  }

  .picture-wrapper {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-tablet-background-left {
    display: block;
    position: absolute;
    top: 202px;
    z-index: -1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-tablet-background-right {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (min-width: 1440px) {
  .hero .container {
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    margin-bottom: 246px;
  }

  .hero-text-and-link {
    align-self: flex-end;
  }

  .hero-desk-background-left {
    display: block;
    position: absolute;
    top: 201px;
    z-index: -1;
  }

  .hero-desk-background-center {
    display: block;
    position: absolute;
    left: 335px;
    z-index: -1;
  }

  .hero-desk-background-right {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
  }
}
