.mobile-menu-backdrop {
  background-color: rgba(20, 20, 20, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease, z-index 0s 300ms;
}

.is-open {
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
  transition: opacity 300ms ease, z-index 0s 0s;
}

.mobile-menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 300ms ease;
  overflow-y: auto;
}

.mobile-menu-backdrop.is-open .mobile-menu {
  transform: translateX(0);
}

.modal-nav {
  padding-top: 202px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.modal-item {
  transition: transform 300ms ease;
}

.modal-item:hover,
.modal-item:focus {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .modal-list {
    gap: 30px;
  }

  .modal-item {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .mobile-menu-backdrop {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
