.newsletter .section-title {
  padding-top: 64px;
  margin-bottom: 20px;
}

.newsletter-text {
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.newsletter-form > :last-child {
  margin-top: 10px;
}

.newsletter-input {
  width: 100%;
  height: 50px;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  outline: transparent;
  padding: 11px 20px;
  transition: color 300ms ease, border-color 300ms ease;
}

.newsletter-input:hover,
.newsletter-input:focus {
  color: #0a224a;
  border-color: #0a224a;
}

.newsletter-input::placeholder {
  color: #d9d9d9;
}

.input-wrapper {
  position: relative;
}

.newsletter-input.error {
  border-color: #e74a3b;
  color: #e74a3b;
  padding-right: 64px;
}

.input-error-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  fill: #e74a3b;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.newsletter-input.error + .input-error-icon {
  opacity: 1;
}

.newsletter-checkbox-label {
  display: inline-flex;
  align-items: center;
}

.newsletter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: transparent;
  border: 1px solid #b6b6b6;
  cursor: pointer;
  margin-right: 8px;
}

input[type='checkbox']:checked + .newsletter-checkbox-label .newsletter-checkbox {
  background-color: #0a224a;
  border: none;
  stroke: #ffffff;
}

.newsletter-checkbox-icon {
  opacity: 0;
}

input[type='checkbox']:checked
  + .newsletter-checkbox-label
  .newsletter-checkbox
  .newsletter-checkbox-icon {
  opacity: 1;
}

.checkbox-text-wrapper {
  color: #7a7a7a;
}

.newsletter-button {
  border: none;
  max-width: 224px;
  padding: 17px 65px;
  color: #ffffff;
  background-color: #0a224a;
  transition: background-color 300ms ease;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #061835;
}

@media only screen and (min-width: 768px) {
  .newsletter .section-title {
    text-align: left;
    padding-top: 100px;
    margin-bottom: 30px;
  }

  .newsletter-text {
    max-width: 536px;
    font-size: 18px;
  }

  .newsletter-form {
    margin-bottom: 64px;
  }

  .newsletter-input {
    max-width: 536px;
  }

  .general-checkbox-label {
    font-size: 18px;
  }

  .newsletter-image {
    width: 704px;
    height: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .newsletter-form {
    margin-bottom: 0;
  }

  .newsletter-image {
    padding-top: 100px;
    width: 460px;
    align-self: flex-end;
    height: auto;
  }
}
