.reviews {
  background-color: #f7faff;
  padding: 36px 0;
}

.reviews .section-title {
  margin-bottom: 30px;
}

.reviews-list > .reviews-item:not(:first-child) {
  display: none;
}

.reviews-item {
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: transform 300ms ease;
}

.reviews-item:hover {
  transform: scale(1.04);
}
.reviews-wrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.reviews-name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.reviews-date {
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .reviews-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .reviews-list > .reviews-item:not(:first-child) {
    display: block;
  }

  .reviews-list > .reviews-item:nth-child(3) {
    display: none;
  }

  .reviews-comment {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews {
    padding: 60px 0;
  }

  .reviews-list > .reviews-item:nth-child(3) {
    display: block;
  }

  .reviews-comment {
    max-width: 360px;
  }
}
