@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

@import url('./header.css');
@import url('./mobilemenu.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./price.css');
@import url('./products.css');
@import url('./bestsellers.css');
@import url('./reviews.css');
@import url('./newsletter.css');
@import url('./footer.css');

@import url('./terms.css');
@import url('./privacy.css');
